<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="Persona" class="com.beansEjemplos.beansxml.Persona">
		<property name="nombre" value="Cristian XML" />
		<property name="edad" value="29" />
	</bean>
</beans>